.app-navigation-entry.category-header:not(.app-navigation-entry--opened) .app-navigation-entry__title {
	font-weight: bold;
}

#app-navigation > ul > li.app-navigation-caption.caption-item {
	padding: 0;
	pointer-events: inherit;
}

#app-navigation > ul > li.app-navigation-caption.timeslot {
	color: var(--color-text-maxcontrast);
}

/* icons for sidebar */
.icon-files {
	@include icon-color('folder', 'notes', $color-black);
}

.icon-emptyfolder {
	@include icon-color('folder-empty', 'notes', $color-black);
}

.icon-recent {
	@include icon-color('recent', 'notes', $color-black);
}

.app-navigation-entry__utils .action-item {
	visibility: hidden;
}

li.actionsOpen .app-navigation-entry__utils .action-item,
li.app-navigation-entry--deleted .app-navigation-entry__utils .action-item,
li.active .app-navigation-entry__utils .action-item,
li:hover  .app-navigation-entry__utils .action-item,
li:focus  .app-navigation-entry__utils .action-item {
	visibility: visible;
}

