.icon-undo {@include icon-color('undo', 'notes', $color-black);}
.icon-redo {@include icon-color('redo', 'notes', $color-black);}

.icon-bold {@include icon-color('redo', 'notes', $color-black);}
.icon-strike {@include icon-color('strike', 'notes', $color-black);}
.icon-underline {@include icon-color('underline', 'notes', $color-black);}
.icon-italic {@include icon-color('italic', 'notes', $color-black);}

.icon-h1 {@include icon-color('h1', 'notes', $color-black);}
.icon-image {@include icon-color('image', 'notes', $color-black);}
.icon-link {@include icon-color('link', 'notes', $color-black);}

.icon-ul {@include icon-color('ul', 'notes', $color-black);}
.icon-checklist {@include icon-color('checklist', 'notes', $color-black);}
.icon-code {@include icon-color('code', 'notes', $color-black);}








