#leftcontent { 
  box-sizing: border-box; 
  overflow: auto; 
}
#entries {
  position: fixed;
  background: white;
  width: 20em;
  left: 12.5em;
  top: 6.7em;
  bottom: 0; 
  overflow: auto;
  padding: 0;
  margin: 0;
}

#rightcontent{
  position:fixed;
  margin-top: 5px;
  margin-left: 5px; 
  top:6.4em;
  left:32.5em;
  overflow:auto   
}


#rightcontent2{
  margin-top: 50px;
  margin-left: 10px; 
}

#notes_preview h1 {
  font-size: 1.6em;
  font-weight: bold; 
  margin-top: 8px;
  margin-right: 15px;
}


#notes_preview h2 {
  font-size: 1.3em;
  font-weight: bold;  
}

#notes_preview h3 {
  font-size: 1.1em;
  font-weight: bold;  
  font-style:italic;
}

/* #notes_preview p { */
/*   line-height: 1.1; */
/* } */

#notes_preview ul {
  list-style: square inside;
}

#notes_preview ol {
  list-style: decimal inside
}

#notes_preview a {
  text-decoration:underline
}

#notes_preview code {
  background-color:#dbdbdb;
  font-size:smaller;
}


#markdown{
  font-size: 1.2em;
}