#leftcontent a {
	width: 94%;
	padding: 8px;
	padding-left: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
}

#leftcontent li {
	padding: 0;
}

#leftcontent li.active {
	font-weight: bold;
}

#rightcontent {
	left: 25em;
	right: 0;
	bottom: 0;
	top: 3.6em;
	overflow: hidden;
}

#rightcontent textarea {
	display: block;
	height: 100%;
	width: 100%;
	font-size: 18px;
	line-height: 150%;
	border: 0;
	background: none;
	box-shadow: none;
	resize: none;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 30px;
	padding-bottom: 100px;
	padding-right: 20%;
}
