@media print {
	#header,
	#app-navigation,
	#note-container .action-buttons {
		display: none !important;
	}

	#content {
		display: block;
		padding: 0;
		color: #000;
	}

	#note-container .note-editor,
	#note-container .note-preview {
		padding: 0 !important;
		font-size: 10pt !important;
	}

	#app-content {
		margin-left: 0 !important;
	}
}
