<phpunit bootstrap="../../tests/bootstrap.php"
    verbose="true"
    timeoutForSmallTests="900"
    timeoutForMediumTests="900"
    timeoutForLargeTests="900"
    colors="true">
<testsuites>
    <testsuite name="unit">
        <directory>./tests/unit</directory>
    </testsuite>
</testsuites>
</phpunit>
